extends layout

block title
  title SocialGCap - Anuncios publicados

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  if perfilPropio
    #formularioConfirmar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tituloConfirmar', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#tituloConfirmar.modal-title Eliminar anuncio
          p.modal-body
            | Vas a <strong>eliminar</strong> este anuncio, ¿estás seguro?
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            button.btn.btn-primary(type='button', id="btnConfirmar") Confirmar

  .container
    - var activo = 'perfil';
    include navbar

    header.page-header
      h1 Anuncios publicados por #{perfilDe}

    ul.nav.nav-tabs
        li
          a(href="/perfil/#{perfilDe}", title="Ver datos de perfil") Perfil
        if perfilPropio
          li
            a(href="/perfil/#{usuario}/editar", title='Edita los datos de tu perfil') Editar perfil     
        li.active
          a(href="#", title='Ver anuncios publicados') Anuncios publicados
        if (perfil === 'profesor' && perfilPropio)
          li
            a(href="/perfil/#{usuario}/editar/asignaturas", title='Edita las asignaturas que impartes') Editar asignaturas

    section.well
      .row
        if anuncios.length > 0
          each anuncio in anuncios
            article.anuncio.col-md-6
              if perfilPropio
                form(id="eliminar",method='post', action='/perfil/#{perfilDe}/anuncios/#{anuncio._id}/eliminar')
                  input(name='_id', type='hidden', value='#{anuncio._id}')
                  button(type='button', data-toggle='modal',data-target='#formularioConfirmar').close
                    | &times;
              
              header
                h4 #{anuncio.titulo}

              p 
                | #{anuncio.contenido}

              footer
                time(datetime="#{anuncio.fechaPublicacion.getFullYear()}-#{anuncio.fechaPublicacion.getMonth()+1}-#{anuncio.fechaPublicacion.getDate()}").
                 | #{anuncio.fechaPublicacion.getDate()}/#{anuncio.fechaPublicacion.getMonth()+1}/#{anuncio.fechaPublicacion.getFullYear()}, 
                time(datetime="#{anuncio.fechaPublicacion.getHours()}:#{anuncio.fechaPublicacion.getMinutes()}:#{anuncio.fechaPublicacion.getSeconds()}").
                  #{anuncio.fechaPublicacion.getHours()}:#{anuncio.fechaPublicacion.getMinutes()}:#{anuncio.fechaPublicacion.getSeconds()}
              hr
        else
          p.text-center.
            El usuario "#{perfilDe}" aún no ha publicado ningún anuncio.



    include footer
    