extends layout

block title
  title SocialGCap - Anuncios publicados

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'perfil';
    include navbar

    header.page-header
      h1 Anuncios publicados por #{perfilDe}

    ul.nav.nav-tabs
        li
          a(href="/perfil/#{perfilDe}", title="Ver datos de perfil") Perfil
        if perfilPropio
          li
            a(href="/perfil/#{usuario}/editar", title='Edita los datos de tu perfil') Editar perfil     
        li.active
          a(href="#", title='Ver anuncios publicados') Anuncios publicados

    section.well
      .row
        if anuncios.length > 0
          each anuncio in anuncios
            article.anuncio.col-md-6
              header
                h4 #{anuncio.titulo}
              p 
                | #{anuncio.contenido}
              footer
                time(datetime="#{anuncio.fechaPublicacion.getFullYear()}-#{anuncio.fechaPublicacion.getMonth()+1}-#{anuncio.fechaPublicacion.getDate()}").
                 | #{anuncio.fechaPublicacion.getDate()}/#{anuncio.fechaPublicacion.getMonth()+1}/#{anuncio.fechaPublicacion.getFullYear()}, 
                time(datetime="#{anuncio.fechaPublicacion.getHours()}:#{anuncio.fechaPublicacion.getMinutes()}:#{anuncio.fechaPublicacion.getSeconds()}").
                  #{anuncio.fechaPublicacion.getHours()}:#{anuncio.fechaPublicacion.getMinutes()}:#{anuncio.fechaPublicacion.getSeconds()}
              hr
        else
          p.text-center.
            El usuario "#{perfilDe}" aún no ha publicado ningún anuncio.



    include footer