extends layout

block title
  title SocialGCap - Editar asignaturas

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'perfil';
    include navbar

    header.page-header
      h1 Editar asignaturas impartidas

    ul.nav.nav-tabs
        li
          a(href="/perfil", title="Ver datos de perfil") Perfil
        li
          a(href="/perfil/#{usuario}/editar", title='Edita los datos de tu perfil') Editar perfil     
        li
          a(href="/perfil/#{usuario}/anuncios", title='Ver anuncios publicados') Anuncios publicados
        li.active
          a(href="#", title='Edita las asignaturas que impartes') Editar asignaturas impartidas

    section.text-center.well
      .row
        if error
          .alert.alert-danger.alert-dismissable
            button(type="button",data-dismiss="alert",aria-hidden="true").close 
              | &times;
            strong 
              | ¡Lo sentimos! 
            p=error
        if success
          .alert.alert-success.alert-dismissable
            button(type="button",data-dismiss="alert",aria-hidden="true").close 
              | &times;
            strong 
              | ¡Todo correcto! 
            p Asignturas actualizadas correctamente.
      .row
        //- Estilos preliminares
        form(id='form-asignaturas',method='post', action='/perfil/#{usuario}/editar/asignaturas')
          //- Falta marcar las que ya tiene el profesor actualmente
          each asignatura in asignaturas
            label(for="asignatura")
              input(type='checkbox',name='asignatura', value="#{asignatura.nombre}")
              |  #{asignatura.nombre}
            br
          input(type='submit', value='Actualizar asignaturas').btn.btn-block.btn-primary

    include footer
    
