extends layout

block title
  title SocialGCap - Perfil

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'perfil';
    include navbar

    if error
      .page-header
        h1= error
    else
      .page-header
        h1 Perfil del #{datosUsuario.perfil}  
          small #{datosUsuario.nombre}  #{datosUsuario.apellidos}

      img(src='/img/avatar_default.jpg',
        alt="Imagen de perfil de #{datosUsuario.nombre}").img-circle
      strong Nombre:
      #{datosUsuario.usuario} #{datosUsuario.apellidos} 
      strong Email:
      #{datosUsuario.email} 
      strong Fecha de nacimiento:
      #{datosUsuario.fechaNacimiento}

    //-p
    //-- if ( datosUsuario ) {
    //-      p #{datosUsuario.usuario}
    //-      br
    //-      p #{datosUsuario.nombre} #{datosUsuario.apellidos}
    //-      br
    //-      p #{datosUsuario.email}
    //-      br
    //-      p #{datosUsuario.fechaNacimiento}
    //-      br
    //-      p #{datosUsuario.perfil}
    //-  - }
    include footer

block custom-scripts