extends layout

block title
  title SocialGCap - Registro

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/datepicker.css')

block content
  .container
    .container
      .row
        .col-md-12
          .col-md-offset-3.col-md-6
            .well
              h1.text-center 
                | Regístrate o 
                a(href='/login') inicia sesión
              //- Mensaje de error si falla el registro
              if error
                .alert.alert-danger.alert-dismissable
                  button(type="button",data-dismiss="alert",aria-hidden="true").close 
                    | &times;
                  strong 
                    | ¡Lo sentimos! 
                  p=error
              form(id='form-registro',method='POST',action='/registro',accept-charset='UTF-8').form-horizontal
                fieldset.page-header
                  legend Datos de conexión
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='usuario',name='usuario',placeholder='Usuario (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='pass',name='pass',placeholder='Contraseña (obligatorio)', type='password', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='confirmpass',name='confirmpass',placeholder='Contraseña (confirmación)', type='password', required)
                  legend Datos personales
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='nombre',name='nombre',placeholder='Nombre (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='apellidos',name='apellidos',placeholder='Apellidos (obligatorio)', type='text', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='email',name='email',placeholder='Email (obligatorio)', type='email', required)
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      input.form-control(id='fechanacimiento',name='fechanacimiento',placeholder='Fecha de nacimiento', type='text')
                  legend Tipo de perfil
                  .form-group
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.text-center
                      label.radio-inline
                        input(type='radio',id='alumno',name='perfil',value='alumno', required)
                        | Soy un alumno
                      label.radio-inline
                        input(type='radio',id='profesor',name='perfil',value='profesor')
                        | Soy un profesor
                      #msgError
                  .form-group.visible-alumno
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un alumno, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a promociones)
                      select(id='promocion',name='promocion').form-control
                        option(selected='selected', disabled) ¿Cuál es tu promoción?
                        - each promocion in promocionData
                          option(value="#{promocion.nombre}") #{promocion.nombre}
                  .form-group.visible-alumno
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un alumno, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a cursos)
                      select(id='curso',name='curso').form-control
                        option(selected='selected', disabled) ¿Cuál es tu curso?
                        - each curso in cursoData
                          option(value="#{curso.nombre}", disabled) #{curso.nombre}
                  .form-group.visible-profesor
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                      //- (Este campo aparece solo si el usuario es un profesor, sera obligatorio)
                      //- (Las opciones de este campo son resultado de una consulta a asignaturas)
                      input.form-control(id='passProfesor',name='passProfesor',placeholder='Clave de profesores (obligatorio)', type='password')
                      p.help-block.
                        Esta clave te será provista por un <a href='mailto:zacro.suarez@gmail.com?Subject=Clave de registro como profesor', title='Contacta con un administrador', target='_blank'>administrador</a>. 
                      p.lead ¿Qué asignaturas impartes?
                      each asignatura in asignaturaData
                        label(for="asignatura")
                          input(type='checkbox',name='asignatura', value="#{asignatura.nombre}")
                          |  #{asignatura.nombre}
                        br
                  hr
                  .form-group
                    .col-md-10.col-md-offset-1
                      button(type='submit').btn.btn-block.btn-success 
                        span.glyphicon.glyphicon-ok 
