extends layout

block title
  title SocialGCap - Salas de chat

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'salas';
    include navbar

    header.page-header
      h1 Salas de chat

    section#chat-container
      .container-fluid
        .row
          #sala-actual
            //-Aqui se carga el nombre de la sala actual
            strong Estás en la sala: 
            span#nombre-sala 
        .row
          #chat.col-xs-8.col-sm-10.col-md-10.col-lg-10.well.well-sm
            //-Aqui saldrian los mensajes enviados dentro de la sala
          #lista-salas.col-xs-4.col-sm-2.col-md-2.col-lg-2
            strong Salas:
            //-Aqui se cargarian las salas existentes
            //- Posiblemente, si entras a una sala se reemplazaria
            //- por la lista de usuarios dentro de la sala
            ul.list-unstyled
              each promocion in promociones
                li 
                  a(href="", title="Entrar a la sala #{promocion.nombre}") - #{promocion.nombre}
              each curso in cursos
                li 
                  a(href="", title="Entrar a la sala #{curso.nombre}") - #{curso.nombre}
              each asignatura in asignaturas
                li 
                  a(href="", title="Entrar a la sala #{asignatura.nombre}") - #{asignatura.nombre}
        .row
          form(id='form-mensaje',method="post",accept-charset='UTF-8',role='form').form-inline
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
              input(id="mensaje",name="mensaje",type="text",maxlength="200",placeholder="Escriba su mensaje",required,style="width:100%").form-control.no-resize
              <p class="help-block">Etiquetas HTML permitidas: b, i, em, strong, a.</p>
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              input.btn.btn-block.btn-success(type='submit', value="Enviar")

    include footer
block custom-scripts
  script(src='/js/salas.js')