extends layout

block title
  title SocialGCap - Salas de chat

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'salas';
    include navbar

    header.page-header
      h1 Salas de chat

    section#chat-container
      .container-fluid
        .row
          #sala-actual
            //-Aqui se carga el nombre de la sala actual
            strong Estás en la sala: 
            span#nombre-sala 
        .row
          #chat.col-xs-8.col-sm-10.col-md-10.col-lg-10.well.well-sm
            //-Aqui saldrian los mensajes enviados dentro de la sala
          .col-xs-4.col-sm-2.col-md-2.col-lg-2
            strong Usuarios en la sala:
            #lista-usuarios
              ul.list-unstyled
              //- Aqui carga la lista de usuarios existentes en la sala
          .col-xs-4.col-sm-2.col-md-2.col-lg-2
            strong Salas:
            input(type="text",id="buscar-salas", placeholder="Buscar sala...").form-control.input-sm
            #lista-salas
              ul.list-unstyled
                if promociones
                  li Promociones:
                  each promocion in promociones
                    li - 
                      a(href="", title="Entrar a la sala #{promocion.nombre}") #{promocion.nombre}
                if cursos
                  li Cursos:
                  each curso in cursos
                    li - 
                      a(href="", title="Entrar a la sala #{curso.nombre}") #{curso.nombre}
                if asignaturas
                  li Asignaturas:
                  each asignatura in asignaturas
                    li - 
                      a(href="", title="Entrar a la sala #{asignatura.nombre}") #{asignatura.nombre}
        .row
          form(id='form-mensaje',method="post",accept-charset='UTF-8',role='form').form-inline
            .col-xs-8.col-sm-8.col-md-8.col-lg-8
              input(id="mensaje",name="mensaje",type="text",maxlength="200",placeholder="Escriba su mensaje",required).form-control.no-resize
              p.help-block.
                Etiquetas HTML permitidas: b, i, em, strong, a.
            .col-xs-2.col-sm-2.col-md-2.col-lg-2
              input.btn.btn-block.btn-success(type='submit', value="Enviar")

    include footer

block custom-scripts
  script(src='/js/salas.js')
