extends layout

block title
  title SocialGCap - Usuarios

block custom-styles
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    - var activo = 'usuarios';
    include navbar

    header.page-header
      h1= 'Listado de ' + ver
    .clearfix
      .pull-right
        ul.nav.nav-pills
          li(class=(ver==='usuarios' ? 'active disabled' : ''))
            a(href="/usuarios", title="Listado de usuarios")
              | Todos
          li(class=(ver==='alumnos' ? 'active disabled' : ''))
            a(href="/usuarios/alumnos", title="Listado de alumnos") 
              | Alumnos
          li(class=(ver==='profesores' ? 'active disabled' : ''))
            a(href="/usuarios/profesores", title="Listado de profesores")
              | Profesores
          li(class=(ver==='promociones' ? 'active disabled' : ''))
            a(href="/usuarios/promociones", title="Listado de promociones")
              | Promociones
          li
            form(id='form-buscador', method="post", action="/usuarios/buscar",accept-charset='UTF-8').input-group
              input(name='buscador',type='search', placeholder='Buscar usuario...', 
                pattern=".{3,}", required, title="Inserte al menos 3 caracteres").form-control
              span.input-group-btn
                button(type="submit").btn.btn-default   
                  span.glyphicon.glyphicon-search
    hr
    .row

    if (usuarios.length > 0)
      each usuario in usuarios
        article.text-center.col-xs-6.col-sm-4.col-md-3.col-lg-2
            a(href="/perfil/#{usuario.usuario}", title="Perfil de #{usuario.nombre} #{usuario.apellidos}")
              img(src="#{usuario.foto}", height="100", width="100").img-circle
              br
              if usuario.perfil === 'profesor'
                span.glyphicon.glyphicon-book
              else
                span.glyphicon.glyphicon-pencil
              |  #{usuario.nombre} #{usuario.apellidos}
    else
      p.text-center.
        No se han encontrado usuarios en la base de datos que coincidan
        con la búsqueda introducida.
    
    .row.clearfix
    
    include footer